body {
  margin: 0;
  padding: 0;
  color: white !important;
  position: relative !important;
}

.first-page {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-position: 0% 10%;
}

.navbar-default {
  background: linear-gradient(to bottom, rgba(121, 43, 57, 0.65) 0%, rgba(121, 43, 57, 1) 50%, rgba(121, 43, 57, .45) 100%) !important;
  border-color: transparent!important;
  font-family: Montserrat, sans-serif;
  padding: 1em 1em;
}

.navbar-default a {
  color: rgb(0, 0, 0) !important;
}

.navbar-default a:hover {
  color: white !important;
}

.navbar-default .navbar-nav .active a {
  color: white !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle button, .navbar-default .navbar-toggle button:hover {
  border-color: transparent !important;
  background-color: transparent !important;
}

#home, #menu, #myCarousel, #restaurants, #contact {
  padding-top: 100px;
}

.jumbotron {
  margin: 0 auto;
  background: rgba(121, 43, 57, 0.5) !important;
}

.row-main .col-md-6 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.row-main .col-md-6 h1 {
  text-align: center;
  font-family: 'Damion', cursive;
  font-size: 3em;
}

.row-main .col-md-6 p {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-shadow: 0px .5px 1px grey;
}

.btn-primary {
  background-color: #7a343a !important;
  border-color: #7a343a !important;
}

.btn-primary:hover {
  background-color: white !important;
  border-color: #7a343a !important;
  color: #7a343a !important;
}

.row-main .col-md-3 p {
  font-size: 1em;
  text-align: justify;
  margin: 40px auto;
  line-height: 2em;
  width: 200px;
}

.row-main .col-md-3 img {
  border: .2em solid white;
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
}

.row-main .col-md-3 ul {
  margin: 60px auto;
  padding: 0;
}

.row-main .col-md-3 li {
  list-style: none;
  text-align: center;
  margin: 5px;
}

.row-main .col-md-3 i {
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 1.8em;
  height: 1.8em;
  padding-top: .4em;
}

.menu h1 {
  text-align: center;
  font-family: 'Damion', cursive;
  font-size: 3em;
  color: #7a343a;
  text-transform: uppercase;
}

.menu p {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  color: black;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  width: 300px;
  margin: -1px auto;
  background-color: #7a343a !important;
  border: transparent !important;
}

.badge {
  background-color: transparent !important;
}

#myCarousel h1 {
  color: #7a343a !important;
  text-align: center;
  font-family: 'Damion', cursive;
  margin: 20px;
  font-size: 3em;
  text-transform: uppercase;
}

#myCarousel img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.carousel-inner p {
  font-size: 2em;
}

.restos {
  /*background-image: url(./img/outside.jpg);*/
  background-color: #7a343a !important;
  width: 100vw;
  height: auto;
  padding: 0 auto;
}

.restos h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Damion', cursive;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.restos h4 {
  font-size: 2em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.restos p {
  font-size: 1em;
  text-align: justify;
  font-family: Montserrat, sans-serif;
  margin: 20px auto;
  width: 200px;
}

/*.restos .extra-info.row {
  background-color: rgba(56, 43, 45, 0.5);
  margin: 0 100px;
  padding-bottom: 40px;
}*/

.restos .info.row a {
  color: white;
  text-transform: uppercase;
}

.restos .info.row .map iframe {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
}

.extra-info ul {
  display: block;
  margin: 40px auto;
  width: 200px;
}

.container.contact h1 {
  font-size: 3em;
  color: #7a343a !important;
  text-align: center;
  font-family: 'Damion', cursive;
  margin: 20px;
  text-transform: uppercase;
}

/*
.container.contact h1::after {
  right: 100%;
  background: linear-gradient(to right, rgb(121, 43, 57, 1) 0%, rgba(121, 43, 57, 0) 100%);
}

.container.contact h1::before {
  left: 100%;
  background: linear-gradient(to left, rgb(121, 43, 57, 1) 0%, rgba(121, 43, 57, 0) 100%);
}*/

.container.contact p {
  font-size: 1em;
  color: #7a343a !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 20px;
}

.container.contact {
  background-color: rgb(221, 219, 220);
}

.container.contact form .container button {
  background-color: #7a343a !important;
  padding: 2px 20px 2px 60px;
  margin: 25px 110px 25px 0;
}

.form-group {
  color: #7a343a !important;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
}

footer {
  background: #7a343a;
}

footer .footer-social ul {
  display: block;
  text-align: center;
  padding: 10px;
  list-style: none;
}

footer .footer-social li {
  display: inline;
  justify-content: space-between;
}

footer .footer-social i {
  padding-top: .7em;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 2.5em;
  height: 2.5em;
  /*padding: 10px;*/
}

footer .footer-company p {
  margin: 20px auto;
  width: 200px;
  font-size: 1.1em;
}

footer .col-md-4 p {
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
}

@media only screen and (max-width: 1000px) {
  .row-main {
    display: flex;
    flex-direction: column;
  }
  .jumbotron.col-12.col-md-6 {
    order: 1;
  }
  .promo.col-12.col-md-3 {
    order: 2;
  }
  .social.col-12.col-md-3 {
    order: 3;
  }
}

@media only screen and (min-width: 980px) {
  #myCarousel img {
    height: 100vh;
  }
  .container.contact form .container {
    margin: 0px auto;
    width: 600px;
    padding-bottom: 50px;
  }
  .restos .info.row, .extra-info.row {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}