body {
  margin: 0;
  padding: 0;
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  width: 100vw;
  height: 100vh;
  color: white !important;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent!important;
  font-family: Montserrat, sans-serif;
  margin: 2em;
  -webkit-transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
}

.navbar-default a:hover {
  color: white !important;
  -webkit-transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
}

.navbar-default .navbar-nav .active a {
  color: white !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: white !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-default .navbar-toggle:active {
  background-color: transparent !important;
}

.jumbotron {
  background: rgba(104, 23, 23, 0.5) !important;
}

.jumbotron .container .row-main .col-md-6 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
}

.jumbotron .container .row-main .col-md-6 h1, p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
}

.btn-primary {
  background-color: #110b0b !important;
  border-color: #0c0707 !important;
}

.jumbotron .container .row-main .col-md-3 p {
  font-size: 1em;
  text-align: justify;
}

.jumbotron .container .row-main .col-md-3 p {
  /*I finished here*/
}

footer {
  background: rgba(104, 23, 23, 1);
}

footer .container:last-child {
  background: rgba(104, 23, 23, 0.5);
}