body {
  margin: 0;
  padding: 0;
  background-image: url(./img/back.jpeg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white !important;
}

.first-page {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-position: 0% 10%;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent!important;
  font-family: Montserrat, sans-serif;
  margin: 0 2em;
  padding: 1em 2em;
  -webkit-transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
}

.navbar-default a:hover {
  color: white !important;
  -webkit-transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
}

.navbar-default .navbar-nav .active a {
  color: white !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: white !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-default .navbar-toggle:active {
  background-color: transparent !important;
}

.jumbotron {
  background: rgba(121, 43, 57, 0.3) !important;
}

.jumbotron .container .row-main .col-md-6 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
}

.jumbotron .container .row-main .col-md-6 h1, p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}

.btn-primary {
  background-color: #110b0b !important;
  border-color: #0c0707 !important;
}

.jumbotron .container .row-main .col-md-3 p {
  font-size: 1em;
  text-align: justify;
  margin: 20px;
  line-height: 2em;
}

.jumbotron .container .row-main .col-md-3 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
}

.jumbotron .container .row-main .col-md-3 ul {
  margin: 0;
  padding: 0;
}

.jumbotron .container .row-main .col-md-3 li {
  list-style: none;
  text-align: center;
  margin: 5px;
}

.jumbotron .container .row-main .col-md-3 i {
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 1.8em;
  height: 1.8em;
  padding-top: .4em;
}

.menu h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #7a343a;
}

.menu p {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: black;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #7a343a !important;
  border: transparent !important;
}

#myCarousel h1 {
  color: #7a343a !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

#myCarousel img {
  margin: 0 auto;
  /*min-width: auto;*/
  height: 100vh;
  max-width: 100%;
  /*make mediaquiery*/
}

footer {
  background: #7a343a;
}

footer .footer-social ul {
  display: block;
  text-align: center;
  padding: 10px;
  list-style: none;
}

footer .footer-social li {
  display: inline;
  justify-content: space-between;
}

footer .footer-social i {
  padding-top: .7em;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 2.5em;
  height: 2.5em;
  /*padding: 10px;*/
}

footer .footer-company p {
  text-align: center;
  font-size: 1.1em;
}

footer .col-md-4 p {
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
}