body {
  margin: 0;
  padding: 0;
  background-image: url(./img/back.jpeg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white !important;
  position: relative !important;
}

.first-page {
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-position: 0% 10%;
}

.navbar-default {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%) !important;
  border-color: transparent!important;
  font-family: Montserrat, sans-serif;
  /*margin: 0 2em;*/
  padding: 1em 2em;
}

.navbar-default a:hover {
  color: white !important;
}

.navbar-default .navbar-nav .active a {
  color: white !important;
  background-color: transparent !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}

.navbar-default .navbar-toggle:active {
  background-color: transparent !important;
}

#home, #menu, #myCarousel, #restaurants, #contact {
  padding-top: 100px;
}

/*.jumbotron {
  margin: 0 auto;
  background: rgba(121, 43, 57, 0.3) !important;
}*/

.row-main .col-md-6 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
}

.row-main .col-md-6 h1, p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}

.btn-primary {
  background-color: #110b0b !important;
  border-color: #0c0707 !important;
}

.btn-primary:hover {
  background-color: #7a343a !important;
  border-color: #0c0707 !important;
}

.row-main .col-md-3 p {
  font-size: 1em;
  text-align: justify;
  margin: 20px;
  line-height: 2em;
}

.row-main .col-md-3 img {
  border: .2em solid white;
  display: block;
  margin: 0 auto;
}

.row-main .col-md-3 ul {
  margin: 0;
  padding: 0;
}

.row-main .col-md-3 li {
  list-style: none;
  text-align: center;
  margin: 5px;
}

.row-main .col-md-3 i {
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 1.8em;
  height: 1.8em;
  padding-top: .4em;
}

.menu h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #7a343a;
}

.menu p {
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  color: black;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #7a343a !important;
  border: transparent !important;
}

#myCarousel h1 {
  color: #7a343a !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  font-size: 3em;
}

#myCarousel img {
  margin: 0 auto;
  /*min-width: auto;*/
  height: 100vh;
  max-width: 100%;
  /*make mediaquiery*/
}

.restos {
  background-color: #7a343a;
  width: 100vw;
  height: auto;
  padding: 0 auto;
}

.restos h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.restos h4 {
  font-size: 2em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.restos p {
  font-size: 1em;
  text-align: justify;
  font-family: Montserrat, sans-serif;
  margin: 20px;
  width: 150px;
}

.extra-info ul {
  width: 200px;
}

.container.contact h1 {
  font-size: 3em;
  color: #7a343a !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.container.contact p {
  font-size: 1em;
  color: #7a343a !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 20px;
}

.form-group {
  color: #7a343a !important;
}

footer {
  background: #7a343a;
}

footer .footer-social ul {
  display: block;
  text-align: center;
  padding: 10px;
  list-style: none;
}

footer .footer-social li {
  display: inline;
  justify-content: space-between;
}

footer .footer-social i {
  padding-top: .7em;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 2.5em;
  height: 2.5em;
  /*padding: 10px;*/
}

footer .footer-company p {
  text-align: center;
  font-size: 1.1em;
}

footer .col-md-4 p {
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
}